.italic {
  font-style: italic;
}

.h-f {
  height: 80%;
}

/*N progress*/

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Upload */

.input-u {
  margin: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.progress {
  position: relative;
  width: 100%;
  border: 1px solid #7f98b2;
  padding: 1px;
  border-radius: 3px;
}

.bar {
  background-color: #554ae4;
  width: 0%;
  height: 25px;
  border-radius: 3px;
}

.percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%;
  color: #020a13;
}

/* media */

.b-rounded {
  border-radius: 1.5em;
}

.art-album {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.art-cropper {
  overflow: hidden;
}

@media (max-width: 1023px) {
  .art-artist {
    margin-left: auto;
    margin-right: auto;
  }

  .info {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  margin-bottom: 60px;
}

#trend {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#trend::-webkit-scrollbar {
  display: none;
  height: 200px;
}

.pix {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.pix-lg {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.home_night {
  background: #090618;
  color: white;
}

.night {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000;
  background-color: aliceblue;
  border-radius: 5px;
}

.day {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: aliceblue;
  background-color: #211d34;
  border-radius: 5px;
}

@media (min-width: 323px) and (max-width: 769px) {
  #wide,
  .wide {
    display: none;
  }
}

@media (min-width: 1024px) {
  #sm {
    display: none;
  }
}

.cover_art img {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.input {
  transition: border-color 0.3s linear;
}

.input-bg {
  transition: background-color 0.3s linear;
}

.bg-vendor {
  background: #110b14;
}

.h-68 {
  height: 16em;
}

.h-72 {
  height: 18em;
}

.h-76 {
  height: 20em;
}

.w5 {
  width: 5%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.mt-2\/5 {
  margin-top: 40%;
}

.p {
  padding: 4px;
}

.art-artist {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.toast {
  position: fixed;
  bottom: 30px;
  width: 320px;
  padding: 0.2em 1em;
  z-index: 5;
  left: 50%;
  margin-left: -160px;
  background-color: #000;
  color: white;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.box {
  width: 18%;
  margin: 10px 1%;
  float: left;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .box {
    width: 23%;
    margin: 15px 1%;
    font-size: smaller;
  }
}

.box img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.text-blend {
  mix-blend-mode: hard-light;
  background-blend-mode: exclusion;
  background: #000;
  color: whitesmoke;
}

.hover-button {
  background: white;
  color: black;
  padding: 5px;
  border-radius: 15px;
  border-width: 1px;
  border-color: #000;
  transition: background-color 0.3s linear;
}

.hover-button:hover {
  background: black;
  color: whitesmoke;
}

.vertical-center {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.livesearch {
  overflow-y: scroll;
  -webkit-overflow-style: none;
  margin-bottom: 40px;
}

.livesearch::-webkit-scrollbar {
  display: none;
}

.livesearch .node {
  height: 350px;
  padding-bottom: 20px;
}

.view {
  width: 100%;
}

.sm-footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: #000;
  z-index: 50;
}

.player-min {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 80px !important;
  background: #000;
  z-index: 50;
  color: whitesmoke;
  border-bottom: whitesmoke 0.5px solid;
}

@media (min-width: 767.99px) {
  .player-min {
    bottom: 0px;
  }

  .sm-footer {
    display: none;
  }
}

.player-progress {
  padding-left: 1em;
  padding-right: 1em;
  height: 15px !important;
}

.player-progress .progressBar {
  width: 80%;
  background: #a59a9a;
  height: 10px !important;
  margin-top: 5px;
  border-radius: 8px;
}

.progressBar .progress {
  width: 0%;
  background: #d1d1d1;
  height: 10px;
  border-radius: 8px;
}

.progressBar .seekBtn {
  z-index: 6;
  transform: translateY(-18px);
  margin-left: 0%;
}

.player-info {
  height: 63px !important;
  padding: 7px 5px;
}

.player-control {
  padding: 5px 2%;
}

.info-details {
  white-space: nowrap;
  overflow: hidden;
}

.w-nav {
  height: 5rem !important;
}

